/*------------------------------------
BASE
------------------------------------*/
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/*------------------------------------
ELEMENT
------------------------------------*/
body{
    font-family:"Averia Serif Libre" ;
    font-weight: 700;
    color:#eca136;
    background: rgb(9, 26, 33);
}

a{
    text-decoration: none;
}

.wrapper{
    max-width: 1000px;
    margin: 0 auto;
}
/*------------------------------------
COMPONENT
------------------------------------*/
/* header */
header{
    width: 1000px;
    background: rgba(15, 38, 49, 0.95);
    position: fixed; 
    left: calc(50% - 500px);
    top: 0;
    z-index: 1;
    border-bottom-right-radius:20px ;
    border-bottom-left-radius:20px ;
}
header .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
}
 h1 {
    font-size: 2.5rem  ; 
    /* rem fonctionne pas avec racoursi font: */
}

/* conteneur principale */
.contenu .wrapper{
    max-width: 925px;
    margin: 100px auto 0;
}
.contenu img{
    max-width: 100%;
}
.contenu ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 45px;
    list-style: none;
    padding: 0;
    
}
.contenu li{
    background: rgb(15, 38, 49);
    border-radius: 10px;
    padding: 20px;
    position: relative;
}
.contenu .bouton{
    background: rgba(255, 255, 255, 0.5);
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 20px;
    right: 20px;
}
.contenu .bouton:hover{
    cursor: pointer;
}

/* footer */

footer .wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    border-top-left-radius:15px ;
    border-top-right-radius:15px ;
    background: rgba(15, 38, 49, 0.95);
    
    font-variant: small-caps;
    text-transform: uppercase;
    
}

/* nav */
.media{
    background: rgb(15, 38, 49);
    border-top-right-radius:15px ;
    border-bottom-right-radius:15px ;
    position: fixed;
    left: 0;
    top: 200px;
}
.media img{
    height: 50px;
    width: 50px;
    margin: 10px;
    position: relative;
}
.media img:hover{
    left: 3px;
}
.media ul{
    margin: 0;
    padding: 0;
list-style: none;
}

/* modale */

img.zoom{
    width: 800px;
    height: 800px;
    padding: 30px;
    background: #fff;
    border-radius: 10px;
}
img.zoom:hover{
    cursor:pointer ;
}
.modale{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    background: rgba(0, 0, 0, 0.8);
    display: none;
    justify-content: center;
    align-items: center;

}
.visible{
    display: flex;
    
}